/* CSS Document */

.icerik {
	font-family:Arial, Verdana;
	font-size:13px;
	font-weight:normal;
	font-style: normal;
	text-align: left;	
	A:link, A:visited, A:active {text-decoration: none; font-weight: bold}
    A:hover { color: #C0C0C0 }
}
